{% extends "marketplace/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fiedlset class="form-group">
            <legend class="border-bottom mb-4">Modifica il tuo portafogli!</legend>
        </fiedlset>
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Modifica</button>
        </div>
    </form>
</div>
{% endblock content %}